h2 {
  font-size: 24px;
  font-weight: 700;
}
.site-header {
  background-color: #172832;
  color: #FFFFFF;
  padding: 15px 15px 15px 15px;
  justify-content: space-between;
  display: inline-block;
  width:100%;
  font-size: 24px;
}

.overlay {
  position: absolute;
  width:30px;
  display:inline-block;
  margin: 0;
  padding: 0;
}

.subheader {
  width:100px;
  background: #FFFFFF;
  padding: 2px 0 0 0 auto;
}

.hi {
  font-weight: 850;
}

.body {
  background-color: #F5F7FC;
}

.search {
  position: absolute;
  display:inline-block;
  vertical-align: baseline;
  margin: 0 0 0 825px;
}

.td {
  padding: 0 5px 0 5px auto;
}